<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mt-5 mb-4">
      <h1>Conway's Game of Life</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <app-grid [grid$]="grid$" (cellClicked)="toggleCell($event)"></app-grid>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 mt-3">
      <app-grid-options
        #gridOptions
        [isEmpty$]="isEmpty$"
        [isRunning$]="isRunning$"
        [gridConfigs]="gridConfigs"
        (startStopClicked)="toggleRunning()"
        (clearClicked)="clearGrid()"
        (generateClicked)="generateNewGrid($event)"
        (delayChanged)="updateDelay($event)"
        (stepSizeChanged)="updateStepSize($event)"
        (gridConfigSelected)="loadGridConfig($event)"
      ></app-grid-options>
    </div>
  </div>
</div>
